@font-face {
    font-family: 'alienleagueiiital';
    src: url('fonts/alienleagueiiital-webfont.eot');
    src: url('fonts/alienleagueiiital-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alienleagueiiital-webfont.woff2') format('woff2'),
         url('fonts/alienleagueiiital-webfont.woff') format('woff'),
         url('fonts/alienleagueiiital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'luculentregular';
    src: url('fonts/luculent-webfont.eot');
    src: url('fonts/luculent-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/luculent-webfont.woff2') format('woff2'),
         url('fonts/luculent-webfont.woff') format('woff'),
         url('fonts/luculent-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'luculentbold';
    src: url('fonts/luculentb-webfont.eot');
    src: url('fonts/luculentb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/luculentb-webfont.woff2') format('woff2'),
         url('fonts/luculentb-webfont.woff') format('woff'),
         url('fonts/luculentb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'luculentbold_italic';
    src: url('fonts/luculentbi-webfont.eot');
    src: url('fonts/luculentbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/luculentbi-webfont.woff2') format('woff2'),
         url('fonts/luculentbi-webfont.woff') format('woff'),
         url('fonts/luculentbi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'luculentitalic';
    src: url('fonts/luculenti-webfont.eot');
    src: url('fonts/luculenti-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/luculenti-webfont.woff2') format('woff2'),
         url('fonts/luculenti-webfont.woff') format('woff'),
         url('fonts/luculenti-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}